
@{
    ViewBag.Title = "AdminDisplay";
   
}

<h2>Welcome admin</h2>

@*<div align="right">
    @Html.Partial("Logout")
</div>*@

@*<div class="sidenav">*@
    @*@Html.ActionLink("DisplayDetails", "Display", "Account")

    @Html.ActionLink("ManageCountry", "Country", "Account")

    @Html.ActionLink("ManageJobTypes", "JobTypes", "Job")

    @Html.ActionLink("ManageLocation", "Location", "Job")*@
@*</div>*@
            
 