@model JobPortal.Entity.Resume

@{
    ViewBag.Title = "Notification";
}
<div class="CenterContent">
    <h2 class="heading">Notification</h2>
    @using (Html.BeginForm("DownloadFile", "Job", FormMethod.Post))
    {
        <input type="hidden" id="hfFileId" name="FileId" />
        <input type="submit" id="btnDownload" value="Download" style="display:none" />
    }
    <table border="1">
        <tr>
            <th>
                Resume
            </th>
            <th>
                Download
            </th>
            <th>
                Message
            </th>

        </tr>
        @foreach (var item in (List<JobPortal.Entity.VacancyMatching>)ViewData["Vacancy"])
        {
            <tr>
            </tr>
            <tr>
                <td>@item.Resume.FileName</td>
                <td><a href="javascript:;" onclick="DownloadFile(@item.ResumeId)">Download</a></td>
                <td>@Html.ActionLink("Message", "Message_Recruiter", new { id = item.ResumeId })</td>
            </tr>
        }
    </table>
    <script type="text/javascript">
        function DownloadFile(fileId) {
            $("#hfFileId").val(fileId);
            $("#btnDownload")[0].click();
        };
    </script>
</div>