
@{
    ViewBag.Title = "Recruiter";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recruiter</title>
</head>
<body>
   
        <div>
            <blockquote>
                Hi Recruiter, you gonna create great opportunities for plenty of people
            </blockquote>
        </div>
   
</body>
</html>
