
@{
    ViewBag.Title = "Searcher";
}

<div>
    <blockquote>
        Hi Seacher, we have created a great opportunities to plenty of people
    </blockquote>
</div>
<div>
    <img src="~/Images/Handshake.jpg" class="OpenScreenImage" />
</div>
