
@{
    ViewBag.Title = "Searcher";
}

<div class="heading" style="padding-bottom:20px;padding-top:20px;">
   
        Hi Seacher, we have created a great opportunities to plenty of people and enjoy your job search through our website.
   
</div>
<div>
    <img src="~/Images/Handshake.jpg" class="OpenScreenImage" />
</div>
