@model IEnumerable<JobPortal.Entity.Resume>

@{
    ViewBag.Title = "UploadResume";
}
<div class="CenterContent">
    @using (Html.BeginForm("UploadResume", "Job", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" />
        <input type="submit" id="Upload" value="Upload" />
        @ViewBag.Message
    }

    @using (Html.BeginForm("DownloadFile", "Job", FormMethod.Post))
    {
        <input type="hidden" id="hfFileId" name="FileId" />
        <input type="submit" id="btnDownload" value="Download" style="display:none" />
    }
    <hr />
    <table cellpadding="0" cellspacing="0">

        @if (Model == null)
        {

            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        }
        else
        {
    <tr>
        <th style="width:120px">File Name</th>
        <th style="width:80px">Download</th>
        <th style="width:80px">Delete</th>
    </tr>

            foreach (var file in Model)
            {
                <tr>
                    <td>@file.FileName</td>
                    <td><a href="javascript:;" onclick="DownloadFile(@file.ResumeId)">
                   <i class="fa fa-download" aria-hidden="true"></i></a></td>
                    <td>@Html.ActionLink(" ", "Delete", new { id = file.ResumeId }, new { @class = "fa fa-trash", Onclick = "return confirm('Do u want to delete')" })</td>
                </tr>
            }
        }

    </table>

</div>

