
@{
    ViewBag.Title = "Contact";

}

<h2>Contact</h2>
<fieldset style="height:25%;width:25%">
    <legend style="color:palevioletred">If any query</legend>

    <p>
        Mail to ilakyaengi@gmail.com<br>

        Our location is:
    </p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3906.8913254019544!2d78.17558226475752!3d11.702108991697408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf112e79ac63b%3A0xe21d31517746a7dd!2sSaravana%20Nagar%2C%20Anna%20Nagar%2C%20Salem%2C%20Tamil%20Nadu%20636008!5e0!3m2!1sen!2sin!4v1594450318109!5m2!1sen!2sin" width="350" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</fieldset>

