
@{
    ViewBag.Title = "Help";

}


<div class="CenterContent">
    <h2 class="heading">Help</h2>
    <h2> Some shortcuts</h2>
    <p>
        Click Future Feature-Home page<i class="fa fa-home" aria-hidden="true"></i> <br /><br />Click Register-Get into portal<br /><br />Some links displayed in the bar are only authenticated to particular users, if you show error message click-->Future Feature it will return to the home page
        <br /><br />For any queries click- Contact
    </p>

</div>