
@{
    ViewBag.Title = "Help";

}



<p style="color:royalblue">Click top=>Home page <br /><br />Logout=>Logout button<br /><br />Some links displayed in the bar are only authenticated to particular users, if you show error message click-->Future Feature it will return to the home page </p>


