
@{
    ViewBag.Title = "Home";
}

    <div>   
      
        <p>Future Feature is a job portal which make the job of recruiter easier and able to get multiple oppurtunities for the job searcher!!!</p>

    </div>